<div class="wrapper">
    <app-header />
    <ul>
        @for (user of AllPlayers; track $index) {
            <li (click)="onSelectPlayer(user.id)">
                <app-user [user]="user" [selected]="user.id === selectedPlayer" />
            </li>
        }
    </ul>
    @if (selectedPlayer) {
        <app-user-info [id]="selectedPlayer" [playerInfo]="onPlayerCard(selectedPlayer)" />     
        <div class="points">
            <h2>{{Player?.nickname}}'s Points History</h2>
            <ag-charts style="display: block; width: 100%; height: 100%;" [options]="chartOptions"></ag-charts> />
        </div>
    }
    @else{
        <p class="optional">Please select player.</p>
    }
</div>